
  1️⃣ Write syntax to create a React Functional Component:

Ans: const app=()=>{
      return(
        <>
      <h2>Hello World!</h2>
        </>
            )
    }


2️⃣ Write syntax of useState:

Ans: const[data,setData] = useState(initialState)


3️⃣ Write syntax of useEffect:

Ans: useEffect(()=>{
        },[])


4️⃣ Write syntax of useEffect with dependency array.

Ans: useEffect(()=>{
        },[timer,count])


5️⃣ Write syntax of useEffect that runs only once:

Ans: useEffect(()=>{
        },[])


6️⃣ Write syntax to install and setup React Router:

Ans: npm i react-router-dom


7️⃣ Write basic routing setup using BrowserRouter, Routes, and Route:

Ans: Aliasing BrowserRouter to router

     <router>
     <routes>
     <route element="" path="/">
     </route>
     </routes>
     </router>


8️⃣ Write syntax for navigation using Link.

Ans: <link rel="stylesheet" href="myapp.html">


9️⃣ Write syntax to get route parameter using useParams.
Ans: 

🔟 Write syntax for conditional rendering using ternary operator in JSX.
Ans: 

